/* stylesheet for my portfolio + an exercise for basic css */
@font-face {
    font-family: "latoregular"; /* assign a name for font */
    src:
      url("lato-webfontkit/lato-regular-webfont.woff2") format("woff2"),
      url("lato-webfontkit/lato-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: "latoregular", sans-serif;
}
/* Type selectors */
/* CSS layouts & text styling */
body {
    background: #f6f6f1;
    width: 90%; /* how much margin for the layout? */
    max-width: minmax(1000px, auto);
    margin: 0 auto;
    font-size: 10px;
    font-family: "latoregular", sans-serif;
}
h1 {
    font-size: 13px;
    font-weight: normal;
    text-align: left
}
h2 {
    font-size: 12px;
    font-weight: bold;
}
footer h2 {
    font-weight: bold;
}

dl dt,
dl dd,
ul li,
p {
    line-height: 1.6;
}

img {
      -webkit-user-drag: none;
  user-select: none;
}
a {
    color: black;
    text-decoration: none;
}

aside.title nav a:visited { /*example of a pseudo-class */
    background: #9ba3be;
    text-decoration: double;
}

a.visiting { /*example of a pseudo-class */
    background: #9ba3be;
    font-weight: bold;
}

a image {
    background:none;
}


ul {
    list-style: "-" inside;
}
section{
    padding: 10px,10px,10px,10px;
}

/* Class selectors */
/* CSS layouts & block styling */
.container {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: minmax(300px, auto);/*1fr 1fr 1fr 1fr;*/
    gap: 20px;
}

header {
    grid-column: 1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column; /* stack your children */
    align-self: start;      /* vertically aligns to top of grid row */
    justify-self: start;      /* horizontally aligns to right of grid column */
    margin-top: 100px;       /* pushes header slightly down */
    padding: 10px;
}

header.title {
    grid-column: 1;
    grid-row: 2;
}
main {
    grid-column: 1/4;
    grid-row: 2/4;
}
aside.title {
    grid-column: 1;
    grid-row: 3;
}
footer {
    grid-column: 1/4;
    grid-row: 4;
}
footer.title {
    grid-column: 1/4;
    grid-row: 4;
}
.gallery {
    background: none;
    display: grid; /* grid gallery*/
    grid-template-columns: repeat(3, 1fr);/*repeat(auto-fit, minmax(150px, 1fr));*/
    grid-auto-rows: minmax(270px, auto);
    max-width: 1000px; /* max width of gallery*/
    margin: 0 auto; /* horizontally centers gallery within page */
    gap: 5px; /* space between grids */
    padding: 10px; /* space between grid item and gallery container */
}


figure.artwork{
    display: flex; /* each figure = flex container */
    aspect-ratio: 1 / 1; /* Makes it a square */
    overflow: hidden; /* Hide anything that spills out */
    /* max-width: 200px;*/
    /*border-radius: 30px;
    border-color: white;
    margin: 25px auto;
    text-align: center;*/
    flex-direction: column; /* stack your children, boy */
    align-items: center;
    justify-content: flex-start; /* center your children, boy */
}


figure.artwork img {
    display: block;
    width: auto; /* fill your parent container */
    height: auto;
    max-height: 200px;
    object-fit: cover; /* no distortion, crop to fit */
}

figure.artwork figcaption {
    /*display: flex;*/
    text-align: center;
    font-style: italic;
    margin-top: 8px;
}

/* Attribute selectors */


